body {
    background-color: #ffffff; /* White background */
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #333333; /* Dark gray footer */
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
